<!DOCTYPE html>
<html lang="en">


    {% include header.html %}

<body>

    {% include navbar.html %}


<!-- grid selection-->

<div class = "container-fluid padding">
    <div class = "row text-center">
        <div class = "col-12">
            <h1 class = "display-4">Dijkstra's</h1>
        </div>
        <div class = "col-12">
            <canvas id ="canvas" width = "1200px" height = "480px" style="background: #fff; margin:20px" onmousedown = "start(event)" onmousemove = "add(event)" onmouseup = "stop()"></canvas>
            <script src = "C:\Users\Andrew\Desktop\Computer Science Stuff\JavaScriptWS\PathFindVis\js\dijktra.js"></script>
        </div>
        <div class = "col-12">
            <button type = "button" class = "btn btn-primary" onclick = "search()">
                Visualize
            </button>
            <button type = "button" class = "btn btn-primary" onclick = "reset()">
                Reset  
            </button>
        </div>
    </div>
</div>


<!--- Footer -->
<footer>
    <div class = "container-fluid padding">
        <div class = "row text-center">
            <div class = "col-12">
                <h6>Copyright &copy; 2020-2022, Andrew Wang - All Rights Reserved.</h6>
            </div>
        </div>
</footer>


</body>
</html>












<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
