---
layout: default
title: "index"
---

<div class = "container-fluid padding">
    <div class = "row welcome text-center">
        <div class = "col-12">
            <h1 class = "display-4">Grids</h1>
        </div>
    </div>
</div>

<!--- Cards -->
<div class = "container-fluid padding">
    <div class = "row padding">
        <div class = "col-md-4">
            <a id = "cardLink" href = "/PathFindVis/dfs">
                <div class = "card">
                    <img class = "card-img-top" src = "assets\img\dfscov.jpg" onmouseover = "dfsMouseOver()" onmouseout = "dfsMouseOut()">
                    <div class = "card-body">
                        <h4 class = "card-title">Depth-First Search</h4>
                        <p class = "card-text">Algorithm | Non-weighted | Shortest path not guaranteed
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div class = "col-md-4">
            <a id = "cardLink" href = "/PathFindVis/bfs">
                <div class = "card">
                    <img class = "card-img-top" src = "assets\img\bfscov.jpg" onmouseover = "bfsMouseOver()" onmouseout = "bfsMouseOut()">
                    <div class = "card-body">
                        <h4 class = "card-title">Breadth-First Search</h4>
                        <p class = "card-text">Algorithm | Weighted | Shortest path guaranteed
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div class = "col-md-4">
            <a id = "cardLink" href = "/PathFindVis/dijkstra">
                <div class = "card">
                    <img class = "card-img-top" src = "assets\img\dijkcov.jpg" onmouseover = "dijkMouseOver()" onmouseout = "dijkMouseOut()">
                    <div class = "card-body">
                        <h4 class = "card-title">Dijkstra's</h4>
                        <p class = "card-text">Algorithm | Weighted | Shortest path guaranteed
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div class = "col-md-4">
            <a id = "cardLink" href = "/PathFindVis/bidijkstra">
                <div class = "card">
                    <img class = "card-img-top" src = "assets\img\bidijkcov.jpg" onmouseover = "biDijkMouseOver()" onmouseout = "biDijkMouseOut()">
                    <div class = "card-body">
                        <h4 class = "card-title">Bidirectional Dijkstra's</h4>
                        <p class = "card-text">Algorithm | Weighted | Shortest path guaranteed
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div class = "col-md-4">
            <a id = "cardLink" href = "/PathFindVis/astar">
                <div class = "card">
                    <img class = "card-img-top" src = "assets\img\astarcov.jpg" onmouseover = "astarMouseOver()" onmouseout = "astarMouseOut()">
                    <div class = "card-body">
                        <h4 class = "card-title">A*</h4>    
                        <p class = "card-text">Heuristic | Weighted | Shortest path not guaranteed
                        </p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

<div class = "container-fluid padding">
    <div class = "row welcome text-center">
        <div class = "col-12">
            <h1 class = "display-4">Numbers</h1>
        </div>
    </div>
</div>

<!--- Cards -->

 <!--
<div class = "container-fluid padding">
    <div class = "col-md-4">
        <a id = "cardLink" href = "/PathFindVis/euclidean">
            <div class = "card">
                <img class = "card-img-top" src = "assets\img\astarcov.jpg" onmouseover = "euclideanMouseOver()" onmouseout = "euclideanMouseOut()">
                <div class = "card-body">
                    <h4 class = "card-title">Euclidean  Algorithm</h4>    
                    <p class = "card-text">Finds the greatest common denominator between two natural numbers
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>

-->